
    <div id="wrap">
        <div class="container" id="page-main">
            <div class="row">
                <div class='col-md-8 col-lg-8 col-sm-8'>
                    <div class='box'>
                        <div class='cell'>
                            <a class="rabel" href="/">linhuaqian-零花钱社区</a>
                            <span class="chevron">&nbsp;›&nbsp;</span>
                            注册
                        </div>
                        <div class='inner'>
                            <form accept-charset="UTF-8" action="/users/registe.htm" class="simple_form new_user" id="new_user" method="post" novalidate="novalidate">
								#if($errorMsg)
									<div class="form-group ">
                                    <label style="color:red">$!errorMsg</label>
                                </div>
								#end
                                <div class="form-group string required user_nickname">
                                    <label class="string required control-label" for="user_nickname">用户名</label>
                                    <input autofocus="autofocus" class="string required form-control" id="user_nickname" maxlength="20" name="nickname" size="12" type="text" />
                                </div>
                                <div class="form-group email optional user_email">
                                    <label class="email optional control-label" for="user_email">电子邮件</label>
                                    <input class="string email optional form-control form-control" id="user_email" maxlength="255" name="email" size="255" type="email" value="" />
                                </div>
                                <div class="form-group password optional user_password">
                                    <label class="password optional control-label" for="user_password">密码</label>
                                    <input class="password optional form-control" id="user_password" maxlength="100" name="password" size="100" type="password" />
                                </div>
                                <div class="form-group password optional user_password_confirmation">
                                    <label class="password optional control-label" for="user_password_confirmation">密码确认</label>
                                    <input class="password optional form-control" id="user_password_confirmation" name="password_confirmation" type="password" />
                                </div>
                                <div class='form-actions'>
                                    <input class="btn btn-small btn-primary" name="commit" type="submit" value="加入社区" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class='col-md-4 col-lg-4 col-sm-4' id='Rightbar'>
                    <div class='box'>
                        <div class='cell'>
                         零花钱社区 — 让论坛回归交流本质
                        </div>
                        <div class='inner'>
                            <div class='sep5'></div>
                            <div class='center'>
                                <a class="btn btn-small" href="/users/sign_up.htm">现在注册</a>
                                <div class='sep5'></div>
                                <div class='sep10'></div>
                                已注册用户请
                                <a class="rabel" href="/users/sign_in.htm">登入</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
