
    <div id="wrap">
        <div class="container" id="page-main">
            <div class="row">
                <div class='col-md-8 col-lg-8 col-sm-8'>
                    <div class='box'>
                        <div class='box-header'>
							#if($webUser.isLogin())
                            <div class='fr'>
                                <a class="btn btn-sm btn-success" href="#new_topic">创建新话题</a>
                            </div>
							#end
                            <a class="rabel" href="/">linhuaqian-零花钱社区 官方论坛</a>
                            <span class="chevron">&nbsp;›&nbsp;</span>
							#if($!{node.parent})
							$!{node.parent.name}
							<span class="chevron">&nbsp;›&nbsp;</span>
							#end
                            $!{node.name}
                        </div>
                      #if($!{pagination})
					#set($dataList=$!{pagination.dataList})
					#if($dataList && ${dataList.size()} > 0)
						#foreach($!data in $dataList)
                        <div class='cell topic'>
                            <div class='avatar pull-left'>
                                <a class="profile_link" href="/member/$!{data.nickName}.htm" title="$!{data.nickName}">
                                    <img alt="$!{data.nickName} medium avatar" class="medium_avatar image_avatar" src="$!{data.avatar}" />
                                </a>
                            </div>
                            <div class='item_title'>
                                <div class='pull-right'>
                                    <div class='badge badge-info'>$!{data.commentsCount}</div>
                                </div>
                                <h2 class='topic_title'>
                                    <a class="rabel topic" href="/topics/$!{data.id}.htm">$!{data.title}</a>
                                </h2>
                                <div class='topic-meta'>
                                    <a class="node" href="/nodes/$!{data.nodeId}.htm">$!{data.nodeName}</a>
                                    <span class='muted'>•</span>
                                    <a class="dark rabel profile_link" href="/member/$!{data.userId}" title="who">$!{data.nickName}</a>
                                    <span class='muted'>•</span>
                                    $!{data.getLastRepliedAtText()}
                                    <span class='muted'>•</span>
                                    最后回复来自
                                    <a class="rabel profile_link" href="/member/${data.lastRepliedBy}" title="vbinv">$!{data.lastRepliedBy}</a>
                                </div>
                            </div>
                        </div>
						#end
                       #end
					#end	
                     
                        #if($!{pagination.count} > 0)
                            <div align='center' class='inner'>
                                <ul class='pagination'>
								#if($!{pagination.current} > 1)
                                    <li class='first'>
                                        <a class="rabel" href="/nodes/$!{nodeId}.htm?p=1">FIRST</a>
                                    </li>
                                    <li class='prev'>
                                        <a class="rabel" href="/nodes/$!{nodeId}.htm?p=$!{pagination.getPrevPage()}" rel="prev">&larr;</a>
                                    </li>
								#end
								#foreach($!p in $!{pagination.getSkipPageList()})
                                    
									#if($!p == $!{pagination.current})
                                    <li class='active'>
                                        <span>$!{pagination.current}</span>
                                    </li>
									#else
									<li>
                                        <a class="rabel" href="/nodes/$!{nodeId}.htm?p=$!p" >$!p</a>
                                    </li>
									#end
								#end
								
								#if($!{pagination.total} > 1)
								#if($!{pagination.current} > 1)
								#if($!{pagination.isShowLastPage()})
                                    <li class='next'>
                                        <a class="rabel" href="/nodes/$!{nodeId}.htm?p=$!{pagination.getNextPage()}" rel="next">&rarr;</a>
                                    </li>
                                    <li class='last'>
                                        <a class="rabel" href="/nodes/$!{nodeId}.htm?p=$!{pagination.total}">LAST</a>
                                    </li>
								#end
								#else
									 <li class='next'>
                                        <a class="rabel" href="/nodes/$!{nodeId}.htm?p=$!{pagination.getNextPage()}" rel="next">&rarr;</a>
                                    </li>
                                    <li class='last'>
                                        <a class="rabel" href="/nodes/$!{nodeId}.htm?p=$!{pagination.total}">LAST</a>
                                    </li>
								#end
								#end
                                </ul>
                            </div>
							#end
                    </div>
					#if($webUser.isLogin())
                    <div class='box'>
                        <div class='box-header'>
                            创建新话题
                        </div>
                        <div class='inner'>
                            <div class='alert alert-info'>
								创建话题如果需要上传图片，请
								<a href="/topics/new_from_home.htm" target="_blank">
									点击前往这里
								</a>
							</div>
                            <form accept-charset="UTF-8" action="/nodes/$!{nodeId}/topics.htm" class="simple_form new_topic" id="new_topic" method="post" novalidate="novalidate">
                                <div style="display:none">
                                    <input name="utf8" type="hidden" value="&#x2713;" />
                                </div>
                                <a name='new_topic'>
                                    <div class="form-group string required topic_title">
                                        <label class="string required control-label" for="topic_title">标题</label>
                                        <input class="string required form-control span6" id="topic_title" maxlength="150" name="title" size="150" type="text" />
                                    </div>
                                    <div id='preview-widget'>
                                        <a class="action_label cancel_preview current_label" data-ref="topic_content" href="javascript:void(0);">编辑</a>
                                        <div id='preview'></div>
                                    </div>
                                    <div class="form-group text optional topic_content">
                                        <textarea class="text optional form-control" id="topic_content" name="content" placeholder="话题内容" rows="10" style="width: 98%;"></textarea>
                                    </div>
                                    <input class="btn btn-primary" data-disable-with="正在提交" name="commit" type="submit" value="创建新话题" />
							</form>
                            </div>
                        </div>
					#end
                    </div>
                    <div class='col-md-4 col-lg-4 col-sm-4' id='Rightbar'>
						
						#if($webUser.isLogin())
                    <div class='box'>
                        <div class='cell'>
                            <table>
                                <tr>
                                    <td valign='top' width='48'>
                                        <a class="profile_link" href="/member/${webUser.nickname}.htm" title="${webUser.nickname}">
                                            <img alt=" medium avatar" class="medium_avatar" src="${webUser.avatar}" />
                                        </a>
                                    </td>
                                    <td valign='top' width='10'></td>
                                    <td valign='left' width='auto'>
                                        <div class='profile-link'>
                                            <a class="rabel profile_link" href="/member/${webUser.nickname}.htm" title="${webUser.nickname}">${webUser.nickname}</a>
                                        </div>
                                        <div class='signature'></div>
                                    </td>
                                </tr>
                            </table>
                            <div class='sep10'></div>
                            <table width='100%'>
                                <tr>
                                    <td align='center' class='with_separator' width='34%'>
                                        <a class="dark" href="javascript:void(0)" style="display: block;">
                                            <span class='bigger'>0</span>
                                            <div class='sep3'></div>
                                            <span class='gray'>话题收藏</span>
                                        </a>
                                    </td>
                                    <td align='center' width='33%'>
                                        <a class="dark" href="javascript:void(0)" style="display: block;">
                                            <span class='bigger'>0</span>
                                            <div class='sep3'></div>
                                            <span class='gray'>特别关注</span>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class='cell'>
                            <div class='muted'>
                                <a class='btn btn-sm btn-info btn-block' href='/users/settings.htm#avatar'>立刻上传个性头像</a>
                            </div>
                        </div>
                        <div class='inner muted'>
                            暂无提醒
                        </div>
                    </div>
					
					#else
					<div class="box">
                        <div class="cell">
                         零花钱社区 — 让论坛回归交流本质
                        </div>
                        <div class="inner">
                        <div class="sep5"></div>
                        <div class="center">
                        <a class="btn btn-small" href="/users/sign_up.htm">现在注册</a>
                        <div class="sep5"></div>
                        <div class="sep10"></div>
                        已注册用户请
                        <a class="rabel" href="/users/sign_in.htm">登入</a>
                        </div>
                        </div>
                    </div>
					#end
                    </div>
                </div>
            </div>
        </div>

